<section class="macbook">
    <div class="container">
        <div class="section-title">Switch Between <span class="dark-text"> Light & Dark Mode</span>
        </div>
        <div class="content-box">
            <img src="~/images/logos/Macbook.svg" />
        </div>
    </div> 
</section>
